@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  /* Add other font weights and styles as needed */
}

body {
  font-family: "Poppins", "Inter", sans-serif;
}


.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInAnimation 4s ease-in-out forwards;
}

/* Add the keyframes for the fade-in animation */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Define the animation class to use the keyframes */
.animate-fade-in {
  animation: fade-in 4s ease-in-out forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Apply the animation to the component */
.appear-animation {
  animation: fadeInUp 2s ease-out forwards;
}

.image-container {
  transition: transform 0.3s ease-in-out;
}

.image-container:hover {
  transform: scale(1.4);
}
